beautifulsoup4==4.12.3
customtkinter==5.2.2
cryptography==50.0.0
requests==2.33.0
aiohttp==3.14.3
google-api-python-client==2.147.0
google-auth==2.35.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
python-dateutil==2.9.0
keyring==25.5.0
Pillow==12.3.0
darkdetect==0.8.0
selenium==4.27.1
schedule==1.2.2
matplotlib==3.10.9
pandas==2.2.3
email-validator==2.2.0
phonenumbers==8.13.50
